* {
    font-family: 'Roboto', sans-serif;
}

html {
    background-image: linear-gradient(#b3afab 25%, 75%, #9ae667);
    height: 100%;
}

#mainTitle {
    text-align: center;
    margin: 2em;
}

h3 {
    text-align: center;
    margin-top: 2em;
}