* {
    font-family: 'Lato', sans-serif;
}

html {
    background-image: linear-gradient(#b3afab 25%, 75%, #9ae667);
    height: 100%;
}

#header {
    border: black 1px solid;
    background-color: darkgray;
    display: flex;
    -moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
    box-shadow: 1px 2px 3px rgba(0,0,0,.5);
}

#header1 {
    margin: 1em;
}

#header2 {
    margin: 1em;
}

#mainTitle {
    text-align: center;
    margin: 2em;
}

#noStockMessage {
    text-align: center;
    margin: 5em;
}
/*
#pairImg {
    width: 400px;
    height: auto;
}

#contactImg {
    width: 40px;
    height: 40px;
}

.shoes {
    display: flex;
    position: absolute;
}

.pair {
    display: grid;
    margin: 5em;
}
*/

#footer {
    margin-top: 27%;
}

#footer p {
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: black;
}